.login{
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    font-family: Montserrat, sans-serif !important;
}

.card{
    max-width: 350px;
    width: 100%;
}
.card-heading{
    font-weight: 500;
}

